
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            
            <button type="button" class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>
    </div>
    